<div id="post-content" class="mdl-color-text--grey-700 mdl-card__supporting-text fade out">
    <% if(theme.scheme === 'Paradox') { %>
        <%- page.content %>
        <% if (page.hide_license !== true && theme.license || page.license) { %>
                <blockquote style="margin: 2em 0 0;padding: 0.5em 1em;border-left: 3px solid #F44336;background-color: #F5F5F5;list-style: none;">
                    <p>
                      <strong id="hitokoto-content"></strong>
                      <br>
                      <strong>
                        <% if (page.license) { %>
                            <%- page.license %>
                        <% } else { %> 
                            <%- theme.license %>
                        <% } %></strong>
                        <br>
                        <strong><%- __('post.permalink') %></strong><a href="<%= page.permalink %>"><%= page.permalink %></a>
                    </p>
                </blockquote>
                <script>
                  $.get('https://api.lwl12.com/hitokoto/v1?encode=realjson', function (data) {
                    if (typeof data === 'string') data = JSON.parse(data);
                    var hitokototext = data.text;
                    if (data.author) { 
                      hitokototext += '  \u2014\u2014' + data.author;
                      if (data.source) hitokototext += ' ' + data.source;
                    } else {
                      if (data.source) hitokototext += '  \u2014\u2014' + data.source;
                    }
                    $('#hitokoto-content').css('display', '').text(hitokototext);
                  });
                </script>
        <% } %>
    <% } %>

    <% if(theme.scheme === 'Isolation') { %>
        <div class="post-content_wrapper">
            <p class="post-title">
                <%- page.title %>
            </p>
            <%- page.content %>
            <% if (page.license || theme.license) { %>
                <blockquote>
                    <p>
                        <% if (page.license) { %>
                            <%- page.license %>
                        <% } else { %> 
                            <%- theme.license %>
                        <% } %>
                        <br>
                        <%- __('post.permalink') %> <%= page.permalink %>
                    </p>
                </blockquote>
            <% } %>
        </div>
    <% } %>
</div>
